body {

background-color:#BBA88A;
background-repeat:repeat-x;
color:#BBA88A;
}

a:link{text-decoration:none;transition: all 0.3s ease-out; color:#DBD0BE; text-transform:uppercase; font-size:12px;border-bottom:1px solid #111111;}
a:active{text-decoration:none;color:#DBD0BE;text-transform:uppercase;font-size:12px;border-bottom:1px solid #111111;}
a:visited{text-decoration:none;color:#DBD0BE;text-transform:uppercase;font-size:12px;border-bottom:1px solid #111111;}
a:hover{text-decoration:none;color:#DBD0BE;text-transform:uppercase;font-size:12px; border-bottom:1px solid #DBD0BE;}

#linkek {
transition: all 0.3s ease-out;
background-color:#111111;
margin:0px auto;
width:800px;
text-align:justify;
padding: 10px 0 10px 0;
border-radius:10px 10px 10px 10px;
border:1px solid #BBA88A;
box-shadow:2px 2px 20px #000000;
margin-top:50px;

}

a.link {
color:#BBA88A;
text-align:center;
padding:0 30px 0 30px;
text-transform:uppercase;
font-family:georgia;
border:none;
}


a.link:hover {
color:#DBD0BE;
background-image:url('iconn.png');
border:none;
}

#tartalom {
margin:0px auto;
width:900px;
text-align:center;
margin-top:100px;

}

#tartalom .bal {
background-color:#111111;
border-radius:10px 10px 10px 10px;
border:1px solid #BBA88A;
box-shadow:2px 2px 20px #000000;
padding:50px;
width:800px;
position:absolute;
}

#tartalom .jobb {
width:250px;
background-color:#111111;
border-radius:10px 10px 10px 10px;
border:1px solid #BBA88A;
box-shadow:2px 2px 20px #000000;
padding:20px;
position:absolute;
left:580px;
}

h1 {
font-size:45px;
	color: #fff;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}


h2 {
font-size:75px;
	color: #f08d3c;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.7);
}


h3 {
text-align:center;

font-size:15px;
color:#DBD0BE;
}

